.DS_Store
build/
DerivedData/
xcuserdata/
*.xcuserstate
dist/
/docs/
*.log
GeckoPrebuilt/Runtime/
GeckoPrebuilt/include/
GeckoPrebuilt/.extract.*/
GeckoPrebuilt/.export.*/
GeckoPrebuilt/*.tmp
XUL-after-release-log-prune
